.formWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 180px;
}

.form {
    text-align: center;
}

.title {

}

.inputWrap {
    display: flex;
    justify-content: center;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
}
