.section {
    position: relative;
    width: 600px;
}

.section:after {
    content: '';
    position: absolute;
    left: 0;
    right: 8px;
    bottom: 0;
    height: 100px;
    background: linear-gradient(0deg, rgb(19 19 22) 0%, rgba(38,38,38,0) 100%);
    pointer-events: none;
}
